/***
General styles
**/
* {
    padding: 0;
    margin: 0;
}
/**
 Top banner styles
***/
.top{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 85%;
    margin: 0 auto;
}

.top > div {
    height: 600px;
    width: 100%;
}


.left{
    background-image: url('./img/top2.jpg');
}
.leftoverlay{
    width: 100%;
    height: 100%;
    background-color: #7085A5;
    opacity: 0.9;
    color: white;
}
.right {
    background-image: url('./img/top1.jpg'); 
    font-family: 'Chivo', sans-serif; 
    position: relative;
}

.rightoverlay{
 width: 40%;
 height: 255px;
 padding: 15px;
 text-align: center;
 color: white;
 margin-left: 60px;
 background-color: #1460AC;
 opacity: 0.8;
 position: absolute;
 bottom: 0;
}

.right .rightoverlay h1 {
    font-size: 6rem;
    margin-top: -80px;
}

.right .rightoverlay div {
    margin-top: 15px;

}

.right .rightoverlay div .fa-arrow-alt-circle-right {
    font-size: 35px;
}
 /***
   Main Section
 ***/

 .first-section{
     max-width: 780px;
     margin: 0 auto;
     display: grid;
     grid-template-columns: repeat(6, 1fr);
 }

 .left1{
     background-image: url('./img/left1.jpg');
     background-repeat: no-repeat;
     height: 500px;
     grid-column: 1/span 3;
     grid-row: 1 / span 2; 
 }

 .overlap{
   background-color: #1460AC;
   height: 300px;
   grid-column: 3/span 5;
   grid-row: 1 / span 4; 
   margin-top: 150px;
   opacity: 0.7;
 }

 .overlap .left-text {
    width: 85px;
    padding: 15px;
    float: left;
    margin-top: 35px;
    text-align: right;
    color: white;
    font-size: 20px;
 }

 .overlap .right-text {
    width: 300px;
    padding: 15px;
    float: left;
    text-align: right;
    color: white;
    margin-top: 35px;
    margin-left: 35px;
 }

 .right1{

    grid-column: 4/span 3;
    grid-row: 1 / span 2; 
 }

 /******************
         Alux
        Şirketi
 *******************/
 .right1 div {
    margin-top: 25px;
     float: right;
 }
/***  ends  **/

/******************
         Alux
   Şirketi chidlren
 *******************/
 .right1 div h1{
     padding-right:2px;
     font-size: 3rem;
     font-family: 'Chivo', sans-serif; 
 }

 .right1 div #alux {
     margin-left: 48px;
     color: #1460AC;
 }

 /***  ends  **/
  /****sencond section***/

  .second-section {
      display:grid;
      grid-template-columns: 1fr 1fr;
      max-width: 780px;
      margin: 0 auto;
  }

  .title-div{
   background-color: #6A9AC9;
   line-height: 40px; 
   margin-top: 15px;
   margin-bottom: 15px;
   height: 150px;
   grid-row: 1 / span 2; 
   grid-column: 1 / span 1;
  }
  .title-div h1 {
    padding-right:2px;
    font-size: 3rem;
    font-family: 'Chivo', sans-serif;   
    margin: 15px;
  }

  .image-right {
      background-image: url('./img/metal.jpg');
      margin-top: 15px;
      height: 500px;
      position: relative;
  }

  .image-right .image-right-bg {
     
      text-align: center;
      position: absolute;
      bottom: 0;
      margin: 0 auto;
      background-color: #828382;
      width: 100%;
      height: 50px;
      line-height: 50px;
      opacity: 0.3;

  }

  .image-right .image-right-text {
    color: white;
    font-size: 25px;
    position: absolute;
    bottom: 10;
    margin-left: 125px;  
    font-family: 'Chivo', sans-serif;    
  }

  .icons-main-div {
      grid-column: 1 / span 1;
      grid-row: 1 / span 3; 
      margin-top: 170px;
      margin-right: 5px;
      height: 650px;
      background-color: #8B8B8B; 
      color: white;
  }

  .icon-div-left-tex {
      padding: 10px;
      width: 35px;
      float: left;
      font-size: 25px;
      padding-top: 50px;
      text-align: center; 
  }

  .icon-div-right-tex {
    padding: 10px;
    width: 250px;
    border-left: 3px solid #666666;
    text-align: right;
    margin-left: 100px; 
  }

  .icons-div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 3px;
      max-width: 310px;
      margin: 0 auto;
      margin-top: 15px;
  }

  .icons {
      width: 155px;
      height: 155px;
      text-align: center;
      background-color: #666666;
  }

  .icons .icon{
      font-size: 70px;
      padding-top: 25px;
  }
  
  .paragraph-right {
    background-color: #666666;
    color:white;
    height: 255px;  
    padding :25px; 
  }
  hr{
    width: 60%;
    margin: 25 auto !important;
  }

  .footer-sections {
      display: flex;
      max-width: 680px;
      margin: 15px auto;
  }

  footer {
    position: relative;
  }

  .footer-overlay {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 300px;
    background-color: gray; 
    z-index: 1;
    opacity: 0.5;
   }
 
  .footer-section-1 {
    flex: 1;
    height: 300px;
    background-color: #6999C9;
  }

  .footer-section-2 {
    flex: 1; 
    height: 380px;
    background-color: #4C5963;
}

.footer-section-3 {
    flex: 1; 
    height: 300px;
    background-color: #6999C9;
}

/***************
    Media Query
***************/
@media only screen and (max-width: 1136px) {
    .top{
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
    }   
    
    .right {
        background-image: url('./img/top1res.jpg'); 
        font-family: 'Chivo', sans-serif; 
    }

    .rightoverlay{
     margin-left: auto;
     margin-right: auto;
     width: 90%;
    }

    .rightoverlay p {
        margin-left: auto;
        margin-right: auto;
        width: 85%;
       }

    .first-section{
        max-width: 85%p;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
    }

    .overlap .right-text {
        width: 300px;
        padding: 15px;
        float: left;
        text-align: right;
        color: white;
     }
 }


@media only screen and (max-width: 700px) {
    

         .first-section {
             display: grid;
             grid-template-columns: 1fr;
            grid-template-areas:
            "1" 
            "2"
            "3"
         }

         .right1 {
            grid-area: 1;
        }

        .right1 div {
        float: center;   
        margin-right: 50px;
        } 
         .left1 {
             display: none
         }
         .overlap {
            grid-area: 2;
            height: 300px;
         }
         
         .overlap .left-text {
          display: none;
         }
        
         .overlap .right-text {
            text-align: right;
            color: white;
        }

        .second-section {
           display:grid;
           margin: 0 auto;
           grid-template-columns: 1fr 1fr;
           grid-template-areas:
           "a" "a"
           "b" "b"
           "c" "c" 

        }

        .image-right{
            grid-area: a;
        }

        .icons-main-div{
            grid-area: b;
        }

        .paragraph-right {
            grid-area: c;
        }

        .footer-overlay{
            display: none;
        }

        .footer-sections {
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas:
            "f1" 
            "f2" 
            "f3"
        }
        
        .footer-section-1{
         grid-area: f1;
        }
        .footer-section-2{
            grid-area: f2;
        }
        .footer-section-3{
            grid-area: f3; 
        }
  }





